<?xml version="1.0" encoding="UTF-8"?>

<poolman>

  <management-mode>local</management-mode>

  <!-- ========================================================== -->
  <!-- These entries are simple examples of minimal JDBC          -->
  <!-- Connection pools. Many of the parameters are optional, and -->
  <!-- there are *many* more parameters available. Consult the    -->
  <!-- UsersGuide.html document and the poolman.xml.template file -->
  <!-- for guidance and element definitions.                      -->
  <!-- ========================================================== -->


  <!-- EXAMPLE 1: A minimally-configured database example -->

  <datasource>

    <dbname>testdb</dbname>
    <jndiName>jndi-testdb</jndiName>
    <driver>weblogic.jdbc.mssqlserver4.Driver</driver>
    <url>jdbc:weblogic:mssqlserver4:PoolMan@127.0.0.1:1433</url>

    <username>poolman</username>
    <password>p00lm4n</password>

    <minimumSize>0</minimumSize>
    <maximumSize>10</maximumSize>

    <logFile>/home/poolman/logs/testdb.log</logFile>

  </datasource>


  <!-- EXAMPLE 2: A second database with a slightky more detailed config -->

  <datasource>
  
    <dbname>postgresdb</dbname>
    <jndiName>jndi-postgresdb</jndiName>
    <driver>org.postgresql.Driver</driver>
    <url>jdbc:postgresql://seamus:5432/empire</url>
    <username>poolman</username>
    <password>p00lm4n</password>

    <txIsolationLevel>READ_COMMITTED</txIsolationLevel>

    <nativeResults>true</nativeResults>

    <poolPreparedStatements>false</poolPreparedStatements>

    <initialConnections>2</initialConnections>
    <minimumSize>0</minimumSize>
    <maximumSize>40</maximumSize>
    <maximumSoft>true</maximumSoft>

    <connectionTimeout>600</connectionTimeout>
    <userTimeout>12</userTimeout>
    <shrinkBy>7</shrinkBy>

    <validationQuery>SELECT id FROM users</validationQuery>

    <logFile>/home/poolman/logs/postgres.log</logFile>
    <debugging>true</debugging>

    <cacheEnabled>true</cacheEnabled>
    <cacheSize>10</cacheSize>
    <cacheRefreshInterval>120</cacheRefreshInterval>

  </datasource>

</poolman>




